<div class="body-wrapper">
  <div *ngIf="showDefault">
    <h1 class="bighead">Welcome to {{group?.name}}</h1>
    <br>
    <img src="../../../assets/images/cwb-logo.png" class="full-width" alt="CWB Logo">
    <br>
    <br>
    <div *ngIf="showEditHomePage">
      <h5>You will be able to customize your group page to convey your group's identity and message!</h5>
      <button class="cwb-primary-button full-width" mat-raised-button (click)="openDialog()">Get Started</button>
    </div>
  </div>

  <div *ngIf="group?.homePage" class="autoContent">
    <button mat-raised-button (click)="openDialog()" *ngIf="showEditHomePage">Edit Homepage</button>
    <div [innerHTML]="homePageContent" class="autoContent"></div>
  </div>


</div>
