<div class="body-wrapper dialogHeight scroll-container ps" [perfectScrollbar]="config">
  <span class="closedialog" (click)="onNoClick(false)">
    <i class="far fa-window-close"></i>
  </span>
  <h1 class="smallhead">Update Group: {{group?.name}}</h1>
  <form [formGroup]="updateGroupForm" (submit)="updateGroup()" autocomplete="off">
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Group Name</mat-label>
          <input matInput formControlName="grpName" required>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Group Capcity</mat-label>
          <input type="number" matInput formControlName="capacity" required>
          <mat-hint align="start">
            <strong>Hint: </strong>
          </mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput rows="5" formControlName="description" required></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>What to Expect</mat-label>
          <textarea matInput rows="5" formControlName="whatToExpect" required></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <p>Community: {{commName}}
            <i class="fas fa-edit ml-3 showPointer" (click)="showCommEdit = !showCommEdit"></i>
          </p>
          <div *ngIf="showCommEdit">
            <mat-form-field class="full-width smallerhead" appearance="outline">
              <mat-select placeholder="Select New Community" formControlName="comm" required>
                <mat-option *ngFor="let comm of communities" [value]="comm" (click)="getSectorsInCommunity(comm?.uid)">
                  {{ comm?.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <button mat-raised-button type="button" (click)="showCommEdit = false" class="mr-2">Cancel</button>
            <button mat-raised-button type="button" (click)="saveNewComm(); showCommEdit = false; showSecEdit = true" class="cwb-primary-button">Save</button>
          </div>
        </div>
        <div class="col-md-6">
            <p>Sector: {{secName}}
                <i class="fas fa-edit ml-3 showPointer" (click)="showSecEdit = !showSecEdit"></i>
              </p>
          <div *ngIf="showSecEdit">
              <mat-form-field class="full-width smallerhead" appearance="outline">
                  <mat-select placeholder="Select New Sector" formControlName="sect" required>
                    <mat-option *ngFor="let sec of sectors" [value]="sec">
                      {{ sec?.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            <br>
            <button mat-raised-button type="button" (click)="showSecEdit = false" class="mr-2">Cancel</button>
            <button mat-raised-button type="button" (click)="saveNewSector(); showSecEdit = false" class="cwb-primary-button">Save</button>
          </div>
  
        </div>
      </div>

    <mat-checkbox formControlName="acceptPayment">Accept Payment</mat-checkbox>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>

    <div class="paymentSection full-width row" *ngIf="updateGroupForm.value.acceptPayment">
      <div class="col-sm-12 pl-5">
        <h2 class="smallerhead">Allow:</h2>
        <mat-checkbox formControlName="monthly">Monthly Payment</mat-checkbox>
        <mat-form-field class="ml-3">
          <span matPrefix>$ &nbsp;</span>
          <input matInput type="number" formControlName="monthlyFee" placeholder="Monthly fee">
        </mat-form-field>
        <br>
        <mat-checkbox formControlName="quaterly">Quaterly Payment</mat-checkbox>
        <mat-form-field class="ml-3">
          <span matPrefix>$ &nbsp;</span>
          <input matInput type="number" formControlName="quaterlyFee" placeholder="Quaterly fee">
        </mat-form-field>
        <br>
        <mat-checkbox formControlName="semiannually">Semi-annual Payment</mat-checkbox>
        <mat-form-field class="ml-3">
          <span matPrefix>$ &nbsp;</span>
          <input matInput type="number" formControlName="semiannuallyFee" placeholder="Semi annual fee">
        </mat-form-field>
        <br>
        <mat-checkbox formControlName="fullpayment">Full Payment</mat-checkbox>
        <mat-form-field class="ml-3">
          <span matPrefix>$ &nbsp;</span>
          <input matInput type="number" formControlName="fullpaymentFee" placeholder="Full fee">
        </mat-form-field>
        <br>
        <div class="gap"></div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Bank Information</mat-label>
            <textarea matInput rows="6" formControlName="bankInfo"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Account Number</mat-label>
            <input matInput formControlName="accountNumber">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Routing Number</mat-label>
            <input matInput formControlName="routingNumber">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="gap"></div>
    <div class="alert alert-success" role="alert" *ngIf="successUpdate">
      Group successfully updated!
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorUpdate">
      Error Updating group. Try again later...
    </div>
    <br>
    <button mat-raised-button type="button" class="mr-3" (click)="onNoClick(false)">Cancel</button>
    <button mat-raised-button type="submit" class="cwb-primary-button">Update Group</button>
  </form>
</div>
