<div class="body-wrapper dialogHeight scroll-container ps" [perfectScrollbar]="config">
  <span class="closedialog" (click)="onNoClick(false)">
    <i class="far fa-window-close"></i>
  </span>
  <h1 class="smallhead">Update Group: {{group?.name}}</h1>
  <form [formGroup]="updateGroupForm" (submit)="updateGroup()" autocomplete="off">
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Group Name</mat-label>
          <input matInput formControlName="grpName" required>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Group Capcity</mat-label>
          <input type="number" matInput formControlName="capacity" required>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput rows="5" formControlName="description" required></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>What to Expect</mat-label>
          <textarea matInput rows="5" formControlName="whatToExpect" required></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field class="full-width smallerhead" appearance="outline">
          <mat-select placeholder="Select Community" formControlName="comm" required>
            <mat-option *ngFor="let comm of communities" [value]="comm" (click)="getSectorsInCommunity(comm?.uid)">
              {{ comm?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="full-width smallerhead" appearance="outline">
          <mat-select placeholder="Select Sector" formControlName="sect" required>
            <mat-option *ngFor="let sector of sectors; let i = index" [value]="sector">
              {{ sector?.name }}
            </mat-option>
            <mat-option *ngIf="sectors?.length ===0">
              No Sectors in this community
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>



    <!--
      <mat-form-field appearance="outline">
      <mat-label>Group Lead</mat-label>
      <input type="text" placeholder="Group Lead" aria-label="Group Lead" matInput [matAutocomplete]="auto3" formControlName="searchStringGroupLead"
        (keyup)="searchUser($event)">

      <mat-autocomplete #auto3="matAutocomplete">
        <mat-option *ngFor="let option of userSearch" [value]="option.firstName + ' '+option.lastname" (click)="getGroupLead(option)">
          {{ option.firstName }} {{option.lastname}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    -->
    <div class="meetingTimes">
      <h2 class="smallhead">Set meeting times:</h2>
      <ul class="meetingTimesUl">
        <li *ngFor="let day of meetings; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven">
          <mat-checkbox [(ngModel)]="day.meet" [ngModelOptions]="{standalone: true}">
            <strong>{{day.day}}</strong>
          </mat-checkbox>
          <br>
          <div *ngIf="day.meet">
            <span class="smallhead mr-3">
              <strong>Recurrence:</strong>
            </span>
            <mat-radio-group [(ngModel)]="day.recurrence" [ngModelOptions]="{standalone: true}">
              <mat-radio-button *ngFor="let rec of recurrence" class="mr-2" [value]="rec">{{rec}}</mat-radio-button>
            </mat-radio-group>
            <br>
            <span class="smallhead mr-3">
              <strong>Start Time:</strong>
            </span>
            <mat-form-field class="mr-3" appearance="outline">
              <mat-label>Start time</mat-label>
              <input matInput [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" required autocomplete="off" [(ngModel)]="day.startTime" [ngModelOptions]="{standalone: true}">
              <owl-date-time [pickerType]="'timer'" #dt4 [hour12Timer]="true"></owl-date-time>
            </mat-form-field>
            <span class="smallhead mr-3">
              <strong>End Time:</strong>
            </span>
            <mat-form-field class="mr-3" appearance="outline">
              <mat-label>End time</mat-label>

              <input matInput [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" required autocomplete="off" [(ngModel)]="day.endTime" [ngModelOptions]="{standalone: true}">
              <owl-date-time [pickerType]="'timer'" #dt5 [hour12Timer]="true"></owl-date-time>
            </mat-form-field>
          </div>
        </li>
      </ul>
    </div>
    <mat-checkbox formControlName="acceptPayment">Accept Payment</mat-checkbox>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>

    <div class="paymentSection full-width row" *ngIf="updateGroupForm.value.acceptPayment">
      <div class="col-sm-12 pl-5">
        <h2 class="smallerhead">Allow:</h2>
        <mat-checkbox formControlName="monthly">Monthly Payment</mat-checkbox>
        <mat-form-field class="ml-3">
          <span matPrefix>$ &nbsp;</span>
          <input matInput type="number" formControlName="monthlyFee" placeholder="Monthly fee">
        </mat-form-field>
        <br>
        <mat-checkbox formControlName="quaterly">Quaterly Payment</mat-checkbox>
        <mat-form-field class="ml-3">
          <span matPrefix>$ &nbsp;</span>
          <input matInput type="number" formControlName="quaterlyFee" placeholder="Quaterly fee">
        </mat-form-field>
        <br>
        <mat-checkbox formControlName="semiannually">Semi-annual Payment</mat-checkbox>
        <mat-form-field class="ml-3">
          <span matPrefix>$ &nbsp;</span>
          <input matInput type="number" formControlName="semiannuallyFee" placeholder="Semi annual fee">
        </mat-form-field>
        <br>
        <mat-checkbox formControlName="fullpayment">Full Payment</mat-checkbox>
        <mat-form-field class="ml-3">
          <span matPrefix>$ &nbsp;</span>
          <input matInput type="number" formControlName="fullpaymentFee" placeholder="Full fee">
        </mat-form-field>
        <br>
        <div class="gap"></div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Bank Information</mat-label>
            <textarea matInput rows="6" formControlName="bankInfo"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Account Number</mat-label>
            <input matInput formControlName="accountNumber">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Routing Number</mat-label>
            <input matInput formControlName="routingNumber">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="gap"></div>
    <br>
    <button mat-raised-button type="submit" class="cwb-primary-button">Update Group</button>
  </form>
</div>
