.main-nav{
    list-style: none;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
.main-nav li{
    display: inline;
    margin-right: 10px;
}
.main-nav li a{
    color: #e74c3c;
    font-weight: 500;
    text-shadow: 1px 1px #ff0000;
}
.main-nav li a:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid #e74c3c;
}