<div class="masthead">
  <img src="../../assets/images/education.jpg">
  <div class="layer">

  </div>
  <div class="content">
    <div class="bannerContent">
      <img src="../../assets/images/education.jpg" class="groupLogo rounded-circle">
      <h1>{{group?.name}}</h1>
    </div>

  </div>
</div>
<div class="body-wrapper grey-bg">
  <div class="body-content">
    <div class="row">
      <div class="col-md-8 mainTab">
          <mat-tab-group>
              <mat-tab label="Home">
                <div class="tabContent">
                    Home content
                </div>
              </mat-tab>
              <mat-tab label="Events">
                  <ng-template matTabContent class="tabContent">
                      Events
                    </ng-template>
              </mat-tab>
              <mat-tab label="Posts">
                  <ng-template matTabContent class="tabContent">
                      Posts
                    </ng-template>
                </mat-tab>
              <mat-tab label="Files">
                  <ng-template matTabContent class="tabContent">
                      Files
                    </ng-template>
              </mat-tab>
            </mat-tab-group>
      </div>
      <div class="col-md-4 right-pane">
        <div class="memberCount">
          <h3 class="smallerhead"><i class="fas fa-users mr-2"></i><strong>{{(group?.members.length ==1)? (group?.members.length)+' MEMBER':(group?.members.length)+' MEMBERS'}}</strong></h3>
          <hr>
        </div>
        <h3 class="smallerhead"><i class="far fa-calendar-alt mr-2"></i> <strong>UPCOMING EVENTS</strong></h3>
        <hr>
        <p *ngIf="!group.events || group.events?.length == 0; else showEvents">No Events Yet</p>
        <ng-template #showEvents>
            <ul>
                <li *ngFor="let event of group.events">
                  {{event}}
                </li>
              </ul>
        </ng-template>
        <h3 class="smallerhead"><i class="far fa-question-circle mr-2"></i> <strong>DESCRIPTION</strong></h3>
        <hr>
        <p>{{group?.description}}</p>
        <h3 class="smallerhead"><i class="fas fa-people-carry mr-2"></i><strong>WHAT TO EXPECT</strong></h3>
        <hr>
        <p>{{group?.whatToExpect}}</p>
      </div>
    </div>
  </div>
</div>
