<div class="masthead">
  <img src="../../assets/images/education.jpg">
  <div class="layer">

  </div>
  <div class="content">
    <div class="bannerContent">
      <img src="../../assets/images/education.jpg" class="groupLogo rounded-circle">
      <h1>{{group?.name}}</h1>
    </div>

  </div>
</div>
<div class="body-wrapper grey-bg">
  <div class="body-content">
    <div class="row">
      <div class="col-md-8 mainTab"> 
        <nav mat-tab-nav-bar>
            <a mat-tab-link
               *ngFor="let link of navLinks; let i = index"
               [routerLink]="link.path"
               (click)="activeLink = i"
               [active]="activeLink == i">
              <strong>{{link.label}}</strong>
            </a>
          </nav>
          
          <router-outlet></router-outlet>
      </div>
      <div class="col-md-4 right-pane">
        <div class="memberCount">
          <div>
            <h3 class="smallerhead">
              <i class="fas fa-users mr-2"></i>
              <strong>{{(group?.members.length ==1)? (group?.members.length)+' MEMBER':(group?.members.length)+' MEMBERS'}}</strong>
            </h3>
            
          </div>
          <div class="text-right pr-2 view-all">
            <h3 class="smallerhead">
              <a routerLink ="all-members" (click)="activeLink = 4"><strong>VIEW ALL</strong></a>
            </h3>
          </div>

        </div>
        <div class="memberThumbnails">
          <ul class="thumbnails">
            <li *ngFor="let user of groupMembers">
              <img src="{{user?.photoURL}}" alt="" class="rounded-circle memberThumbImg" matTooltip="{{user?.firstName}} {{user?.lastName}}">
            </li>
          </ul>
        </div>
        <div class="gap"></div>
        <button mat-raised-button class="cwb-primary-button" (click)="joinGroup()">Join Group</button>
        <div class="gap"></div>
        <h3 class="smallerhead">
          <i class="far fa-calendar-alt mr-2"></i>
          <strong>UPCOMING EVENTS</strong>
        </h3>
        <hr>
        <p *ngIf="upcomingEvents?.length == 0; else showEvents">No Upcoming Events</p>
        <ng-template #showEvents>
          <ul class="eventUL">
            <li *ngFor="let event of upcomingEvents">
              <a routerLink="events/{{event.uid}}" (click)="activeLink = 1"><p><span class="eventNameSpan"><strong>{{event?.name}}</strong></span> <span class="eventTimeSpan">{{event?.startDate['seconds']*1000 | date}}</span></p></a>
            </li>
          </ul>
        </ng-template>
        <h3 class="smallerhead">
          <i class="far fa-question-circle mr-2"></i>
          <strong>DESCRIPTION</strong>
        </h3>
        <hr>
        <p class="line-breaker">{{group?.description}}</p>
        <h3 class="smallerhead">
          <i class="fas fa-people-carry mr-2"></i>
          <strong>WHAT TO EXPECT</strong>
        </h3>
        <hr>
        <p>{{group?.whatToExpect}}</p>
      </div>
    </div>
  </div>
</div>
