.masthead {
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.masthead img {
  width: 100%;
  min-height: 100%;
  height: auto;
}

.content {
  height: 300px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  color: #fff;
  text-align: center;
}
.content h1{
    font-size: 58px;
    
}

.layer {
  z-index: 2;
  height: 300px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #cc2b5e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #753a88, #cc2b5e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.5;
}
.body-content{
    position: absolute;
    top: -50px;
    left: 50px;
    right: 50px;
    bottom: 5px;
    z-index: 40;
    background-color: #fff;
    border-radius: 3px;
    min-height: 100%;
    height: auto;
    overflow: hidden;
}
.tabContent{
  padding: 20px !important;
}
.right-pane{
    border-left: 2px groove #f2f2f2;;
    padding: 20px;
    min-height: 100vh;
    height: auto;
}
.padd-5{
    padding: 5px;
}
.bannerContent{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.groupLogo{
  width: 80px!important;
  height: 80px !important;
  border: 2px solid #fff;
}
.memberCount{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 20px;
}
.view-all{
  color: #2980b9;
}
.memberThumbImg{
  width: 30px;
  height: auto;
}
.thumbnails{
  list-style: none;
  padding: 0px !important;
}

.thumbnails li{
  padding: 5px;
  display: inline;
}