<div class="body-wrapper">
  <h1 class="bighead">Communities</h1>
  <div class="gap"></div>
  <div class="row">
    <div class="col-md-3" *ngFor="let comm of communities">
      
        <mat-card class="no-p">
          <div class="imageHolder">
            <img src="../../assets/images/{{comm.imageUri}}" alt="{{comm.name}} Image">
          </div>
              <div class="padding20">
                <div class="gap"></div>
              <h3>{{comm.name}}</h3>
              <div class="gap"></div>
              <p>{{comm.description}}</p>
              <div class="gap"></div>
              <a routerLink = "../community" mat-button class="cwb-primary-button" (click) = "setCommunity(comm)">View Community</a>
              </div>
        </mat-card>
      
      <div class="gap"></div>
    </div>

  </div>
</div>
