<div class="body-wrapper">
  <h1 class="bighead">Communities</h1>
  <div class="gap"></div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {{communities.length}} Communities
    </div>
    <div class="col-md-4">
      <mat-form-field class="full-width">
        <mat-icon matSuffix>search</mat-icon>
        <input matInput type="text" name="filterSearch" placeholder="Search Communities" [(ngModel)]="filterSearch">
      </mat-form-field>
    </div>
  </div>
  <p class="no-matches smallhead" *ngIf="(communities | search: filterSearch:'name')?.length === 0">No matches found</p>
  <div class="row">
    <div class="col-md-4" *ngFor="let comm of communities | search: filterSearch:'name'">
      <mat-card class="no-p">
        <div class="imageHolder">
          <img src="../../assets/images/{{comm.imageUri}}" alt="{{comm.name}} Image">
        </div>
        <div class="padding20">
          <div class="gap"></div>
          <h3>{{comm.name}}</h3>
          <h3 class="smallerhead">
            <em>Created On {{comm.dateCreated['seconds']*1000 | date}}</em>
          </h3>
          <div class="gap"></div>
          <p>{{comm.description}}</p>
          <div class="gap"></div>
          <a routerLink="../community/{{comm.uid}}" mat-button class="cwb-primary-button">View Community</a>
        </div>
      </mat-card>
      <div class="gap"></div>
      <div class="gap"></div>
      <div class="gap"></div>
    </div>

  </div>
</div>
