<mat-card>
    <div class="roleInfo">
      <h1 class="bighead">You do not possess the role of a Sector Lead...yet!</h1>
    <p>Dedicated to reaching all groups, we are targeting multiple sectors. Be it kids from pre-school to Postgraduate students, we 
      are reaching all! Being a sector lead allows you to help coordinate our vast network of groups within each sector. Come on, join the
      team!
    </p>
    <button mat-raised-button class="cwb-primary-button"> <i class="fab fa-connectdevelop mr-2"></i>Become a Sector Lead Today</button>
    </div>
  </mat-card>