<div class="body-wrapper">
  <h1 class="bighead">Create a new Sector</h1>
  <input type="text" (keyup)="search()" [(ngModel)]="searchVal" placeholder="typeAhead...not working, lol">
  <div class="search-result" *ngFor="let result of groupSearch">
    {{ result.title }}
  </div>
  <form [formGroup]="createSectorForm" (submit)="createSector()">


    <mat-form-field class="mr-3" appearance="outline">
      <mat-label>Sector Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>
    <br>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput rows="8" formControlName="description" required></textarea>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Bio</mat-label>
      <textarea matInput rows="5" formControlName="bio" required></textarea>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>What to Expect</mat-label>
      <textarea matInput rows="5" formControlName="whatToExpect" required></textarea>
    </mat-form-field>
    <button class="mr-3" mat-raised-button>Cancel</button>
    <button mat-raised-button type="submit" class="cwb-primary-button">Create Sector</button>
  </form>
</div>
