.login-card{
    width: 100%;
    padding-top: 20px;
}

#login{
    max-width: 350px;
}
.pos-rel{
    position: relative;
}

.sepHolder{
    overflow: hidden;
    position: absolute;
    left:50%;
    top:50%; 
    transform: translate(-50%,-50%);
}
.loginButt{
    margin: 10px auto;
}