<div class="body-wrapper">
    <mat-card class="login-card">
      <h1 class="masterHeadline">Login</h1>
      <form class="">
          
          <mat-form-field class="full-width">
              <input matInput placeholder="Username or email" class="full-width">
          </mat-form-field>
          <p></p>
          <mat-form-field class="full-width">
              <input type="password" matInput placeholder="Password" class="full-width">
          </mat-form-field>
          <p></p>
          <button class="cwb-primary-button" mat-button>Login</button>
          <p></p>
        </form>
    </mat-card>
</div>
