<mat-card>
    <div class="roleInfo">
      <h1 class="bighead">You do not possess the role of a Group Lead...yet!</h1>
    <p>At the core of what is do is a sense of community, typified by our vibrant groups. Our groups are run by dedicated leaders
      who share in our spirit of breaking barriers to positive engagement. Consider becoming a group lead either by creating a group or 
      requesting to lead an existing group. 
    </p>
    <button mat-raised-button class="cwb-primary-button"> <i class="fas fa-chalkboard-teacher mr-2"></i> Request to Lead a Group</button>
    <a routerLink="../../create-group"><button mat-raised-button class="btn-success ml-4"> <i class="fas fa-plus mr-2"></i>Create a New Group</button></a> 
    </div>
  </mat-card>
