<div class="body-wrapper dialogHeight scroll-container ps" [perfectScrollbar]="config">
  <span class="closedialog" (click)="onNoClick(false)">
    <i class="far fa-window-close"></i>
  </span>
  <div *ngIf="data.source =='reqToJoin'" class="reqToJoin">
    <a href="#"></a>
    <h2>Request to Join Group - {{data.grp.name}}</h2>
    <div class="gap"></div>
    <h3>Description</h3>
    <p>
      {{data.grp.description}}
    </p>
    <h3>What to Expect</h3>
    <p>{{data.grp.bio}}</p>
    <h3>Bio</h3>
    <p>
      {{data.grp.whatToExpect}}
    </p>
    <p>
      Community - {{community?.name}}
    </p>
    <p>
      Sector - {{sector?.name}}
    </p>
    <p>
      Group Lead - {{grpLead?.firstName + " " + grpLead?.lastname}}
    </p>
    <h3>Payments</h3>
    <h5>Choose</h5>
    <mat-radio-group [(ngModel)] ="termSelected">
      <mat-radio-button class="display-block mr-3" *ngFor="let price of data.grp?.prices" [value]="price">{{price.termDescription}} - {{price.termPrice| currency:'USD'}}</mat-radio-button>
      <br>
    </mat-radio-group>
    <mat-checkbox [(ngModel)]="notRobot" class="mr-5">I am not a robot</mat-checkbox>
    <button type="reset" mat-raised-button (click)="onNoClick()" class="mr-3">Cancel</button>
    <button mat-raised-button class="cwb-primary-button" [disabled]="!notRobot" (click)="joinGroup()">Submit</button>
    <div class="gap"></div>
    <div class="gap"></div>
  </div>

  <!-- EDIT PROFILE CONTENT-->

  <div *ngIf="data.source =='editProfile'" class="editProfileDialog">
    <h2>Edit Profile</h2>
    <form [formGroup]="updateUserForm" (submit)="updateUserInfo()">
      <mat-form-field class="mr-3" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" value="{{user?.firstName}}" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name </mat-label>
        <input matInput formControlName="lastName" value="{{user?.lastname}}" required>
      </mat-form-field>
      <br>
      <mat-form-field class="mr-2" appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mr-2">
        <mat-label>Email </mat-label>
        <input type="email" matInput formControlName="email" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mr-3">
        <mat-label>Phone Number</mat-label>
        <input type="tel" matInput formControlName="phoneNumber" value="{{user?.phoneNumber}}" required>
      </mat-form-field>
      <mat-checkbox formControlName="profilePublic" value="{{user?.profilePublic}}">Make my profile public</mat-checkbox>
      <br>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Street Address </mat-label>
        <input matInput formControlName="streetAdd" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="mr-2">
        <mat-label>City </mat-label>
        <input matInput formControlName="city" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mr-2">
        <mat-label>State </mat-label>
        <input matInput formControlName="state" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Zip </mat-label>
        <input matInput formControlName="zip" required>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>About me</mat-label>
        <textarea matInput rows="8" formControlName="about" value="{{user?.aboutUser}}" required></textarea>
      </mat-form-field>
      <br>
      <button mat-raised-button class="mr-3" (click)="onNoClick(false)">Cancel</button>
      <button type="submit" mat-raised-button class="cwb-primary-button" [disabled]="updateUserForm.invalid">Update Profile</button>

      <!-- Update Feedback to User-->
      <div class="alert alert-success" role="alert" *ngIf="updateSuccess">
        Update Successful!
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errorOccured">
        Update failed. Try again later...
      </div>

    </form>
  </div>

  <!-- PREVIEW PROFILE CONTENT-->

  <div *ngIf="data.source =='viewProfile'" class="previewProfileDialog">
    <h2>Profile Preview</h2>
  </div>


  <div *ngIf="data.dialogModeTos">
    <app-termsandconditions></app-termsandconditions>
    <button mat-raised-button class="cwb-primary-button center-item" (click)="onNoClick(true)">Accept Terms</button>
  </div>

  <!-- Create Community-->
  <div *ngIf="data.createCommunity">
    <app-create-community></app-create-community>
  </div>

  <!-- Create Sector-->
  <div *ngIf="data.createSector">
    <app-create-sector></app-create-sector>
  </div>
  
  <!-- Create Group-->
  <div *ngIf="data.createGroup">
      <app-create-group></app-create-group>
  </div>

</div>
