<div class="row">
  <div class="col-md-6">
    <div class="col-md-12 no-padding">
      <mat-card>

        <div class="gap"></div>
        <mat-form-field class="full-width">
          <input matInput type="text" name="filterSearch" [(ngModel)]="searchVal" placeholder="Search within results">
        </mat-form-field>

        <div class="">
          <mat-tab-group [dynamicHeight]="true">
            <mat-tab label="Communities">
              <div class="gap"></div>
              <mat-card class="groupCard scroll-container ps" [perfectScrollbar]="config">
                <div class="gap"></div>
                <mat-list *ngFor="let comm of communities">
                  <mat-list-item class="groupItemHover"> {{comm.viewValue}}
                    <span class="editables">
                      <i class="far fa-edit"></i>
                      <i class="far fa-minus-square"></i>
                    </span>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </mat-list>
              </mat-card>
              <div class="gap"></div>
              <div class="gap"></div>
              <mat-tab-group [dynamicHeight]="true">

                <mat-tab label="Stats">
                  <div class="gap"></div>
                  <img src="../../assets/images/graphDemo.png" alt="Graph Sits here">
                  <div class="gap"></div>
                </mat-tab>
                <mat-tab label="Details">

                </mat-tab>
                <mat-tab label="Sectors">

                </mat-tab>
              </mat-tab-group>
            </mat-tab>
            <mat-tab label="Sectors">
              <div class="gap"></div>
              <mat-card class="groupCard">
                <div class="gap"></div>
                <mat-list *ngFor="let sector of sectors">
                  <mat-list-item class="groupItemHover"> {{sector.viewValue}}
                    <span class="editables">
                      <i class="far fa-edit"></i>
                      <i class="far fa-minus-square"></i>
                    </span>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </mat-list>
              </mat-card>
              <div class="gap"></div>
              <div class="gap"></div>
              <mat-tab-group [dynamicHeight]="true">

                <mat-tab label="Stats">
                  <div class="gap"></div>
                  <img src="../../assets/images/graphDemo.png" alt="Graph Sits here">
                  <div class="gap"></div>
                </mat-tab>
                <mat-tab label="Details">

                </mat-tab>
                <mat-tab label="Groups">

                </mat-tab>
              </mat-tab-group>
            </mat-tab>
            <mat-tab label="Groups">
              <div class="gap"></div>
              <mat-card class="groupCard">
                <div class="gap"></div>
                <mat-list *ngFor="let grp of groups">
                  <mat-list-item class="groupItemHover" (click)="displayGroupInfo(grp)"> {{grp.name}}
                    <span class="editables">
                      <i class="far fa-edit"></i>
                      <i class="far fa-minus-square"></i>
                    </span>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </mat-list>
              </mat-card>
              <div class="gap"></div>
              <div class="gap"></div>
              <mat-tab-group [dynamicHeight]="true">

                <mat-tab label="Stats">
                  <div class="gap"></div>
                  <img src="../../assets/images/graphDemo.png" alt="Graph Sits here">
                  <div class="gap"></div>
                </mat-tab>
                <mat-tab label="Details">

                </mat-tab>
                <mat-tab label="Payments">

                </mat-tab>
              </mat-tab-group>
            </mat-tab>
            <mat-tab label="Members">
              <div class="gap"></div>
              <mat-card class="groupCard">
                <div class="gap"></div>
                <mat-list *ngFor="let grp of groups">
                  <mat-list-item class="groupItemHover" (click)="displayGroupInfo(grp)"> {{grp.name}}
                    <span class="editables">
                      <i class="far fa-edit"></i>
                      <i class="far fa-minus-square"></i>
                    </span>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </mat-list>
              </mat-card>
              <div class="gap"></div>
              <div class="gap"></div>
              <mat-tab-group [dynamicHeight]="true">

                <mat-tab label="Details">
                  <div class="gap"></div>
                  <div class="gap"></div>
                </mat-tab>
                <mat-tab label="Payment">

                </mat-tab>
                <mat-tab label="Groups">

                </mat-tab>
              </mat-tab-group>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="gap"></div>
      </mat-card>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col-md-12 no-padding">
      <mat-card>
        <h1 class="smallhead">MY EVENTS</h1>
        <h2 class="smallerhead text-center">{{todayDate|date:'fullDate'}}</h2>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
        <app-calendar></app-calendar>
      </mat-card>
    </div>
  </div>
</div>
