<div class="row">
  <div class="col-md-5">
    <div class="col-md-12 no-padding">
      <mat-card>

        <div class="gap"></div>
        <mat-form-field class="full-width">
          <input matInput type="text" name="filterSearch" [(ngModel)]="searchVal" placeholder="Search within results">
        </mat-form-field>

        <div class="">
          <mat-tab-group [dynamicHeight]="true">
            <mat-tab label="Communities">
              <div class="padding-15">
                <div class="topItems">
                  <span class="mr-5">
                    <strong>{{communities?.length}} Communities</strong>
                  </span>
                  <button mat-button class="cwb-primary-button text-right" (click)="openDialog('createCommunity')">
                    <i class="fas fa-plus mr-2"></i>New</button>
                </div>
                <div class="gap"></div>
                <mat-card class="groupCard scroll-container ps" [perfectScrollbar]="config">
                  <div class="gap"></div>
                  <mat-list *ngFor="let comm of communities">
                    <mat-list-item class="groupItemHover pl-2 pr-2" [class.activeListItem]="currentCommunity == comm" (click)="currentCommunity = comm; getSectorsForComm(currentCommunity?.uid); getGroupsForComm(currentCommunity?.uid)">
                      {{comm?.name}}
                      <span class="editables">
                        <i class="far fa-edit" (click)="updateCommunity(comm?.uid)"></i>
                        <i class="far fa-minus-square" (click)="deleteItem(comm?.uid, 'communities')"></i>
                      </span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                  </mat-list>
                </mat-card>
                <div class="gap"></div>
                <div class="gap"></div>
                <mat-tab-group [dynamicHeight]="true">
                  <mat-tab label="Details">
                    <strong>Name: </strong>{{currentCommunity?.name}}
                    <br>
                    <br>
                    <strong>Description: </strong>{{currentCommunity?.description}}
                    <br>
                    <br>
                    <strong>What to Expect: </strong>{{currentCommunity?.whatToExpect}}
                    <br>
                    <br>
                  </mat-tab>
                  <mat-tab label="Sectors">
                    <mat-card class="groupCard scroll-container ps" [perfectScrollbar]="config">
                      <div class="gap"></div>
                      <mat-list *ngFor="let sector of sectorsInComm | async">
                        <mat-list-item class="groupItemHover pl-2 pr-2" [class.activeListItem]="currentSector == sector" (click)="currentSector = sector">
                          {{sector?.name}}
                          <span class="editables">
                            <i class="far fa-edit" (click)="updateSector(sector?.uid)"></i>
                            <i class="far fa-minus-square" (click)="deleteItem(sector?.uid, 'sectors')"></i>
                          </span>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                      </mat-list>
                    </mat-card>
                  </mat-tab>
                  <mat-tab label="Groups">
                    <mat-card class="groupCard scroll-container ps" [perfectScrollbar]="config">
                      <div class="gap"></div>
                      <mat-list *ngFor="let group of groupsInComm | async">
                        <mat-list-item class="groupItemHover pl-2 pr-2" [class.activeListItem]="currentGroup == group" (click)="currentGroup = group">
                          {{group?.name}}
                          <span class="editables">
                            <i class="far fa-edit" (click)="updateGroup(group?.uid)"></i>
                            <i class="far fa-minus-square" (click)="deleteItem(group?.uid, 'groups')"></i>
                          </span>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                      </mat-list>
                    </mat-card>
                  </mat-tab>
                  <mat-tab label="Stats">
                    <div class="gap"></div>
                    <img src="../../assets/images/graphDemo.png" alt="Graph Sits here">
                    <div class="gap"></div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </mat-tab>
            <mat-tab label="Sectors">
              <div class="padding-15">
                <div class="topItems">
                  <span class="mr-5">
                    <strong>{{sectors?.length}} Sectors</strong>
                  </span>
                  <button mat-button class="cwb-primary-button fl-right text-right" (click)="openDialog('createSector')">
                    <i class="fas fa-plus mr-2"></i>New</button>
                </div>

                <div class="gap"></div>
                <mat-card class="groupCard scroll-container ps" [perfectScrollbar]="config">
                  <div class="gap"></div>
                  <mat-list *ngFor="let sector of sectors">
                    <mat-list-item class="groupItemHover pl-2 pr-2" [class.activeListItem]="currentSector == sector" (click)="currentSector = sector; getGroupsForSec();">
                      {{sector?.name}}
                      <span class="editables">
                        <i class="far fa-edit" (click)="updateSector(sector?.uid)"></i>
                        <i class="far fa-minus-square" (click)="deleteItem(sector?.uid, 'sectors')"></i>
                      </span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                  </mat-list>
                </mat-card>
                <div class="gap"></div>
                <div class="gap"></div>
                <mat-tab-group [dynamicHeight]="false">
                  <mat-tab label="Details">
                    <strong>Name: </strong>{{currentSector?.name}} <br> <br>
                    <strong>Description: </strong>{{currentSector?.description}} <br> <br>
                    <strong>What to Expect: </strong>{{currentSector?.whatToExpect}} <br> <br>
                  </mat-tab>
                  <mat-tab label="Groups">
                      <mat-card class="groupCard scroll-container ps" [perfectScrollbar]="config">
                          <div class="gap"></div>
                          <mat-list *ngFor="let group of groupsInSec | async">
                            <mat-list-item class="groupItemHover pl-2 pr-2" [class.activeListItem]="currentGroup == group" (click)="currentGroup = group">
                              {{group?.name}}
                              <span class="editables">
                                <i class="far fa-edit" (click)="updateGroup(group?.uid)"></i>
                                <i class="far fa-minus-square" (click)="deleteItem(group?.uid, 'groups')"></i>
                              </span>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                          </mat-list>
                        </mat-card>
                  </mat-tab>
                  <mat-tab label="Stats">
                    <div class="gap"></div>
                    <img src="../../assets/images/graphDemo.png" alt="Graph Sits here">
                    <div class="gap"></div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </mat-tab>
            <mat-tab label="Groups">
              <div class="gap"></div>
              {{groups?.length}} Groups
              <button mat-button class="cwb-primary-button fl-right" (click)="openDialog('createGroup')">
                <i class="fas fa-plus mr-2"></i>New</button>

              <mat-card class="groupCard scroll-container ps" [perfectScrollbar]="config">

                <div class="gap"></div>
                <mat-list *ngFor="let grp of groups">
                  <mat-list-item class="groupItemHover pl-2 pr-2" [class.activeListItem]="currentGroup==grp" (click)="displayGroupInfo(grp); getMembersForGroup();">
                    {{grp?.name}}
                    <span class="editables">
                      <i class="far fa-edit"></i>
                      <i class="far fa-minus-square"></i>
                    </span>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </mat-list>
              </mat-card>
              <div class="gap"></div>
              <div class="gap"></div>
              <mat-tab-group [dynamicHeight]="true">

                
                <mat-tab label="Details">
                  <strong>Name: </strong> {{currentGroup?.name}} <br><br>
                  <strong>Description: </strong> {{currentGroup?.description}} <br><br>
                  <strong>What to Expect: </strong> {{currentGroup?.whatToExpect}} <br><br>
                </mat-tab>
                <mat-tab label="Members">
                    <mat-card class="groupCard scroll-container ps" [perfectScrollbar]="config">
                        <div class="gap"></div>
                        <p *ngIf="(membersInGroup | async)?.length === 0" class="smallhead no-matches">
                          No Members Yet...
                          <button mat-raised-button class="cwb-primary-button">Add Members (Not implemented)</button>
                        </p>
                        <mat-list *ngFor="let member of membersInGroup | async as membersInGrp">
                          <mat-list-item class="groupItemHover pl-2 pr-2" [class.activeListItem]="currentMember == member" (click)="currentMember = member; showHiddenDeets = !showHiddenDeets;">
                            {{member?.firstName}} {{member?.lastName}}
                            <span class="editables">
                              <!--<i class="far fa-edit" (click)="updateGroup(member?.uid)"></i>-->
                              <i class="far fa-minus-square" (click)="deleteItem(member?.uid, 'group-members'); $event.stopPropagation()"></i>
                            </span>
                          </mat-list-item>
                          <mat-divider></mat-divider>
                          <div class="hiddenDetails" *ngIf="showHiddenDeets && currentMember == member">
                              Member Details go here... Eg. Payments
                            </div>
                        </mat-list>
                      </mat-card>
                </mat-tab>
                <mat-tab label="Stats">
                    <div class="gap"></div>
                    <img src="../../assets/images/graphDemo.png" alt="Graph Sits here">
                    <div class="gap"></div>
                  </mat-tab>
              </mat-tab-group>
            </mat-tab>
            <mat-tab label="Members">
              <div class="gap"></div>
              <mat-card class="groupCard scroll-container ps" [perfectScrollbar]="config">
                <div class="gap"></div>
                <mat-list *ngFor="let user of memberSub | async">
                  <mat-list-item class="groupItemHover pl-2 pr-2" [class.activeListItem]="currentMember==user" (click)="currentMember = user">
                    {{user?.firstName}} {{user?.lastname}}
                    <span class="editables">
                      <i class="far fa-edit"></i>
                      <i class="far fa-minus-square"></i>
                    </span>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </mat-list>
              </mat-card>
              <div class="gap"></div>
              <div class="gap"></div>
              <mat-tab-group [dynamicHeight]="true">

                <mat-tab label="Details">
                  <div class="gap"></div>
                  <div class="gap"></div>
                </mat-tab>
                <mat-tab label="Payment">

                </mat-tab>
                <mat-tab label="Groups">

                </mat-tab>
              </mat-tab-group>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="gap"></div>
      </mat-card>
    </div>
  </div>
  <div class="col-md-7">
    <div class="col-md-12 no-padding">
      <mat-card>
        <h1 class="smallhead text-center">ALL EVENTS</h1>
        <h2 class="smallerhead text-center">{{todayDate|date:'fullDate'}}</h2>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
        <app-admin-calendar></app-admin-calendar>
      </mat-card>
    </div>
  </div>
</div>
