<div class="row">
  <div class="col-md-5">
    <div class="col-md-12 no-padding">
      <mat-card>
        <h1 class="smallhead">ALL GROUPS</h1>
        <mat-form-field class="full-width" appearance="outline">
          <mat-select placeholder="Filter by Community" [(ngModel)]="commVal">
            <mat-option *ngFor="let community of communities" [value]="community.value">
              {{ community.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-select placeholder="Filter by Sector" [(ngModel)]="sectorVal">
            <mat-option *ngFor="let sector of sectors" [value]="sector.value">
              {{ sector.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Search within results</mat-label>
          <input matInput name="filterSearch" [(ngModel)]="searchVal">
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>

        <mat-card class="groupCard scroll-container ps" [perfectScrollbar]="config">
          <div class="gap"></div>
          <mat-list *ngFor="let grp of groups | search:searchVal:'name' | search:sectorVal:'sector' | search: commVal:'community'">
            <mat-list-item class="groupItemHover" (click)="displayGroupInfo(grp)"> {{grp.name}} </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-card>
        <div class="gap"></div>

        <div class="">
          <mat-tab-group [dynamicHeight]="true">
            <mat-tab label="Details">
              <div class="gap"></div>
              <h2 class="smallhead">Description</h2>
              <p>
                {{currentGroup.description}}
              </p>
              <h2 class="smallhead">Prices</h2>
              <p>
                Group session with an author (monthly) $25 per month
              </p>
              <p>
                One-on- One with an author (2 times per month) $50 per month
              </p>
              <h2 class="smallhead">Times</h2>
              <p>Wednesday 9am to 10am CDT</p>
              <p>
                Sunday 2pm to 3pm CDT
              </p>

            </mat-tab>
            <mat-tab label="Files">

            </mat-tab>
          </mat-tab-group>
        </div>
        <button mat-button class="cwb-primary-button" (click)="openDialog('reqToJoin',currentGroup)">Join Group</button>
        <div class="gap"></div>
        <button mat-button class="cwb-primary-button cwb-mr-2">
          <i class="fab fa-facebook-f mr-2"></i>Share</button>
        <button mat-button class="cwb-primary-button cwb-mr-2">
          <i class="fab fa-twitter mr-2"></i>Share</button>
        <button mat-button class="cwb-primary-button cwb-mr-2">
          <i class="fab fa-google-plus-g mr-2"></i>Share</button>
      </mat-card>
    </div>
  </div>
  <div class="col-md-7">
    <div class="col-md-12 no-padding">
      <mat-card>
        <h1 class="smallhead text-center">MY EVENTS</h1>
        <h2 class="smallerhead text-center">{{todayDate|date:'fullDate'}}</h2>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
        <app-calendar></app-calendar>
      </mat-card>
    </div>
  </div>
</div>
