@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    font-family: 'Source Sans Pro', sans-serif;
    color: #6a6e72;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Source Sans Pro', sans-serif;
}
.full-width{
    width: 100%;
}
.register-card{
    width: 100%;
    padding-top: 20px !important;
}
.register-card small{
    margin-left: 10px !important;
}
.register-card h1{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.masterHeadline{
    font-size: 59px;
    font-weight: 400;
    margin-bottom: 20px !important;
}
.subtitle{
    font-size: 24px;
    margin-bottom: 20px !important;
}
.cwb-primary-button{
    background-color: #f39c12;
    color: #fff;
    font-weight: 500;
    margin: 10px auto !important;
}
.cwb-callToAction{
    padding: 6px 40px!important;
    border-radius: 30px !important;
}
.reset-button{
    margin-left: 10px !important;
    background-color: #e1e1e1;
}
a{
    text-decoration: none !important;
}
.body-wrapper{
    width: 100%;
    padding: 30px 50px!important;
    min-height: 90vh;
    height: auto;
}
.cwb-logo-image{
    width: 100px;
    height: auto;
    margin: 0px 0px 0px 30px;
}
.spacer{
    width: 20px;
}
.preloaderGif{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.userImage{
    width: 100px;
    height: auto;
    border: 3px solid #f39c12;
}
.gap{
    height: 10px;
}
.no-padding{
    padding: 0px !important;
}
.editIcons{
    position: absolute;
    top: 0px;
    right: 0px;
}
.grey-bg{
    background-color: #f1f1f1;
}
.full-height-wrapper{
    min-height: 100vh;
    height: auto;

}
.middle-center{
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
}
.groupCard{
    height: 300px;
    overflow-y: scroll;
}
.cwb-mr-2{
    margin-right: 20px!important;
}