<div class="container-fluid homepage-wrapper">
  <div class="landing-section full-height-wrapper">
    <div class="landing-content">
      <h1 class="masterHeadline">	
        Communities Without Barriers
      </h1>
      <h2 class="subtitle">Providing People Universal Access To Great Solutions</h2>
      <p>Welcome to CWB.World.  Our mission is to make solutions available for everyone.  

        We do this by collaborating with solution providers to make it easier for you to engage 
        
        with them and for them to engage with you.   You can engage at physical locations, from y
        
        our phone tablet or other smart device.  Our engagement model uses: group membership, 
        
        live video streaming, content libraries, learning management system and a network of satellite 
        
        locations to be where, when and how you want to engage.</p>
        <p>And membership is free.</p> 
       <p> Come in.</p>
        
        
        Welcome to the community.</p>
      <a routerLink="communities" class="cwb-primary-button cwb-callToAction" mat-button>Get Started</a>
    </div>
  </div>
  <div class="info full-height-wrapper padding-30 text-center">
    <h1>More about CWB...</h1>
  </div>
  <div class="info full-height-wrapper grey-bg padding-30 text-center">
    <h1>Commitment to breaking opportunity barriers</h1>
  </div>
  <div class="info padding-30 text-center join-hosts">
    <div class="no-matches">
        <h1>More people are helping make a difference</h1>
        <div class="gap"></div>
        <h3>Join our growing team of dedicated hosts and volunteers</h3>
        <div class="gap"></div>
        <a routerLink = "get-involved" mat-button class="cwb-primary-button"> Get Involved</a>
    </div>
    
  </div>
</div>
