<div class="container-fluid homepage-wrapper">
  <div class="landing-section full-height-wrapper">
    <img src="../../assets/images/cwb-logo.png" alt="CWB Logo" class="cwbLogoLanding">
    <img src="../../assets/images/stickguy-1.png" alt="Stick guy" class="stickGuyLandingSection">
    <div class="landing-content">
      <h1>Welcome.</h1>
      <br>
      <h3>Making solutions available for everyone.</h3>
    </div>
    <a mat-raised-button class="landingCallToAction firstCall" routerLink="login">Sign In</a>
  </div>
  <div class="second-section full-height-wrapper">
    <img src="../../assets/images/stickguy-2.png" alt="Stick guy" class="stickGuySecondSection">
    <div class="secondSectText">
      <h1 class="stayTop">Collaborate with individuals, businesses, and organizations.</h1>
      <br>
      <h3>Easier to engage.</h3>
      <br>
      <h5>Engage at physical locations, computer, tablet, phone, or other smart device.</h5>
    </div>
    <a mat-raised-button class="landingCallToAction secondCall" routerLink="register">Sign Up</a>
  </div>
  <div style="display: none;" class="third-section full-height-wrapper">
    <div class="landing-content">
      <h1>Search Section here.</h1>
    </div>
    <button mat-raised-button class="landingCallToAction thirdCall">Find</button>
  </div>
  <div class="fourth-section full-height-wrapper">
    <img src="../../assets/images/two-stick-guys.png" alt="Stick guy" class="stickGuyFourthSection">
    <div class="fourthSectText">
      <h1>... and membership is free.</h1>
    </div>
    <a mat-raised-button class="landingCallToAction fourthCall" routerLink="register">Get Involved</a>
  </div>
</div>