*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.full-height-wrapper{
    min-height: 100vh;
    height: auto;

}
.landing-section{
    width: 100%;
    background-image: url('../../assets/images/studyset.jpg');
    background-position: center top;
    background-size: cover;
}

.landing-content{
    padding: 250px 0px 0px 100px;
}