<div class="body-wrapper member-ui">
  <div class="user-profile">
    <mat-card>
    <div class="row">
      <div class="col-md-2">
          <mat-icon class="editIcons">edit</mat-icon>
        <img src="../../assets/images/user-silhouet.png" alt="User Image" class="rounded-circle userImage">
        <div class="gap"></div>
        <button mat-button class="cwb-primary-button cwb-mr-2"> <i class="fab fa-facebook-f"></i></button>
        <button mat-button class="cwb-primary-button cwb-mr-2"> <i class="fab fa-twitter"></i></button>
      </div>
      <div class="col-md-3">
        <mat-icon class="editIcons">edit</mat-icon>
        <h2>Mikail Huggins</h2>
        <h5>DOB: 04/24/1999</h5>
        <h5>Address: 500 Joseph C. Wilson Blvd</h5>
        <h5>Email: cwb@gmail.com</h5>
        <h5>Phone: (555) 232-1234</h5>
        </div>
      <div class="col-md-3">
        <mat-icon class="editIcons">edit</mat-icon>
        <h2>About Me</h2>
        <p>
            My name is Mikail. I am 12
            years old. I love reading,
            writing, and long-distance
            running. One day I want to
            be an olympic athlete..
        </p>
        <button mat-button class="cwb-primary-button cwb-mr-2">Preview</button>
        </div>
      <div class="col-md-4">
        <h2>Gallery</h2>
        </div>
    </div>
  </mat-card>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="col-md-5">
      <div class="col-md-12 no-padding">
          <mat-card>
            <h1>ALL GROUPS</h1>
            <mat-form-field class="full-width">
                <mat-select placeholder="Filter by Community">
                  <mat-option *ngFor="let community of communities" [value]="community.value">
                    {{ community.viewValue }}
                  </mat-option>
                </mat-select>
                
              </mat-form-field>
              <br>
              <mat-form-field class="full-width">
                  <mat-select placeholder="Filter by Sector">
                      <mat-option *ngFor="let sector of sectors" [value]="sector.value">
                        {{ sector.viewValue }}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
              <div class="gap"></div>
              <mat-form-field class="full-width">
                  <input matInput type="text" name = "filterSearch" [(ngModel)] = "searchVal" placeholder="Search within results">
              </mat-form-field>
              <div class="gap"></div>
              <mat-card class="groupCard">
                <div class="gap"></div>
                <mat-list *ngFor="let grp of groups">
                    <mat-list-item class="groupItemHover" (click)="displayGroupInfo(grp)"> {{grp.name}} </mat-list-item>
                    <mat-divider></mat-divider>
                   </mat-list>
              </mat-card>
              <div class="gap"></div>
              
              <div class="">
                  <mat-tab-group [dynamicHeight]="true">
                    <mat-tab label="Details">
                      <div class="gap"></div>
                      <h2>Description</h2>
                      <p>
                          {{currentGroup.description}}
                      </p>
                      <h2>Prices</h2>
                      <p>
                          Group session with an author
                          (monthly) $25 per month
                      </p>
                      <p>
                          One-on- One with an author
                          (2 times per month)
                          $50 per month
                      </p>
                      <h2>Times</h2>
                      <p>Wednesday 9am to 10am CDT</p>
                      <p>
                          Sunday 2pm to 3pm CDT
                      </p>
                      
                    </mat-tab>
                    <mat-tab label="Files">

                    </mat-tab>
                  </mat-tab-group>
                </div>
                <button mat-button class="cwb-primary-button">Join Group</button>
                <div class="gap"></div>
                <button mat-button class="cwb-primary-button cwb-mr-2"> <i class="fab fa-facebook-f mr-2"></i>Share</button>
                <button mat-button class="cwb-primary-button cwb-mr-2"> <i class="fab fa-twitter mr-2"></i>Share</button>
                <button mat-button class="cwb-primary-button cwb-mr-2"> <i class="fab fa-google-plus-g mr-2"></i>Share</button>
            </mat-card>
      </div>
    </div>
    <div class="col-md-7">
        <div class="col-md-12 no-padding">
            <mat-card>
                <h1>MY EVENTS</h1>
              </mat-card>
        </div>
      </div>
  </div>
</div>
