<div class="body-wrapper member-ui">
  <div class="user-profile">
    <div class="row">
      <div class="col-md-2">
        <img src="{{user?.photoURL}}" alt="User Image" class="rounded-circle userImage">
        <div class="gap"></div>

        <mat-form-field class="full-width smallerhead">
          <mat-select placeholder="Switch Roles" [(ngModel)]="url" (ngModelChange)="routeToDash()" [(value)]="url">
            <mat-optgroup *ngFor="let role of roles; let i = index" [label]="role.name">
              <mat-option *ngFor="let rolegrp of role.rolegrp" [value]="rolegrp.value" [hidden]="(!user?.roles[rolegrp.param] && i==0) || (user?.roles[rolegrp.param] && i==1)">
                {{ rolegrp.viewValue }}
                <mat-option *ngIf="role.rolegrp.length == 0">
                  <em>None</em>
                </mat-option>
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>


        <!-- <img src={{auth.user$['photoURL']}} alt="User Image" class="rounded-circle userImage">-->
        <div class="gap"></div>
      </div>
      <div class="col-md-3">
        <h2 class="smallhead">{{user?.displayName}}</h2>
        <h5 class="smallerhead">
          <i class="far fa-calendar-alt mr-3"></i>DOB: 04/24/1999</h5>
        <h5 class="smallerhead">
          <i class="fas fa-map-marker-alt mr-3"></i>Address: 500 Joseph C. Wilson Blvd</h5>
        <h5 class="smallerhead">
          <i class="fas fa-at mr-3"></i>Email: cwb@gmail.com</h5>
        <h5 class="smallerhead">
          <i class="fas fa-phone mr-3"></i>Phone: (555) 232-1234</h5>
      </div>
      <div class="col-md-3">
        <h2 class="smallhead">About Me</h2>
        <p>
          My name is Mikail. I am 12 years old. I love reading, writing, and long-distance running. One day I want to be an olympic
          athlete..
        </p>
        <span class="editProfile" (click)="openDialog('editProfile')">
          <i class="fas fa-user-edit mr-2"></i>Edit your profile</span> |
        <span class="previewProf" (click)="openDialog('viewProfile')">
          <i class="far fa-eye mr-2 ml-2"></i>Preview profile</span>
      </div>
      <div class="col-md-4">
        <h2 class="smallhead">Gallery</h2>
        <div class="row">
          <div *ngFor="let itm of gallery" class="col-sm-3 no-wrap galItem">
            <img src="{{itm.src}}" alt="Img" class="galleryImage">
            <br> <h3 class="smallerhead">{{itm.title}}</h3>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gap"></div>
  <router-outlet></router-outlet>
