<div class="body-wrapper">
    <mat-card class="register-card">
      <h1 class="masterHeadline">Register</h1>
      <form class="">
          <mat-form-field class="full-width">
            <input matInput placeholder="First Name" class="full-width">
          </mat-form-field>
          <p></p>
          <mat-form-field class="full-width">
              <input matInput placeholder="Last Name" class="full-width">
          </mat-form-field>
          <p></p>
          <mat-form-field class="full-width">
              <input matInput placeholder="Username" class="full-width">
          </mat-form-field>
          <p></p>
          <mat-form-field class="full-width">
              <input type ="email" matInput placeholder="Email" class="full-width">
          </mat-form-field>
          <p></p>
          <mat-form-field class="full-width">
              <input type="password" matInput placeholder="Choose password" class="full-width">
          </mat-form-field>
          <p></p>
          <mat-form-field class="full-width">
              <input type="password" matInput placeholder="Confirm password" class="full-width">
          </mat-form-field>
          <p></p>
          <div class="g-recaptcha" data-sitekey="6Lc0z1gUAAAAAPSpLcwLzO2QxmFd7e7xNaHddRMK"></div>
          <p></p>
          <mat-checkbox></mat-checkbox><small>I have read and accepted the <a href="termsandconditions">terms and conditions</a> of use</small>
          <p></p>
          <button class="cwb-primary-button" mat-button>Register</button>
          <button class="reset-button" type="reset" mat-button>Reset Form</button>
          <p></p>
        </form>
    </mat-card>
</div>
