<div class="body-wrapper grey-bg">
  <div class="middle-center">
    <mat-card>
      <h3 class="text-center smallhead">Register</h3>
      <!--<div class="alert alert-danger" role="alert" *ngFor="let error of errors">
        <strong>{{error}}</strong> 
      </div>-->
      <form #registerForm="ngForm" (submit)="submitRegister()">
        <!--
                    <mat-form-field class="full-width">
                      <input matInput placeholder="First Name" class="full-width" name = "firstname" [(ngModel)] = registerDetails.firstname>
                    </mat-form-field>
                    <p></p>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Last Name" class="full-width" name = "lastname" [(ngModel)] = registerDetails.lastname>
                    </mat-form-field>
                    <p></p>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Username" class="full-width" name = "username" [(ngModel)] = registerDetails.username>
                    </mat-form-field>
                    <p></p>-->
        <mat-form-field class="full-width">
          <input type="email" required email #email="ngModel" matInput placeholder="Email"  class="full-width" name="email" [(ngModel)]=registerDetails.email>
         <mat-hint align="end" *ngIf="email.errors?.required">Email required</mat-hint>
         <mat-hint align="end" *ngIf="email.errors?.email">Invalid email</mat-hint>
        </mat-form-field>

        <p></p>

        <mat-form-field class="full-width" hintLabel="Minimum of 6 characters">
          <input required #password="ngModel" type="password" matInput placeholder="Choose password" class="full-width" name="password" minlength="6" [(ngModel)]=registerDetails.password>
          <mat-hint align="end" *ngIf="password.value?.length<6">At least {{6-password.value?.length}} more</mat-hint>
        </mat-form-field>
        <p></p>
        <mat-form-field class="full-width">
          <input required #confirmPassword="ngModel" type="password" matInput placeholder="Confirm password"  class="full-width" name="password2" passwordEqualValidator="password" [(ngModel)]=registerDetails.confirmPassword>
          <mat-hint align="end" *ngIf="(confirmPassword.value !== '' && password.value !== '') && (password.value !== confirmPassword.value)">Passwords do not match</mat-hint>
        </mat-form-field>

        <p></p>
        <!--<div class="g-recaptcha" data-sitekey="6Lc0z1gUAAAAAPSpLcwLzO2QxmFd7e7xNaHddRMK"></div>-->
        <p></p>
        <mat-checkbox required name="readtos" [(ngModel)]=registerDetails.readTOS></mat-checkbox>
        <h3 class="smallerhead" id="checkboxLabel">I have read and accepted the
          <a class="noLink" (click)="openDialog()">terms and conditions</a> of use</h3>
        <p></p>
        <button type="submit" class="cwb-primary-button" mat-raised-button [disabled]="!registerDetails.readTOS || email.errors || password.value?.length<6 || (password.value !== confirmPassword.value)">Register</button>
        <button class="reset-button" type="reset" mat-raised-button>Reset Form</button>
        <p></p>
      </form>
    </mat-card>
  </div>
</div>
