<div class="body-wrapper dialogHeight scroll-container ps" [perfectScrollbar]="config">
    <span class="closedialog" (click)="onNoClick(false)">
      <i class="far fa-window-close"></i>
    </span>
    <h1 class="bighead">Create a new Super Sector</h1>
    <form [formGroup]="createSectorForm" (submit)="createSector()">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Super-sector Name</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Image URL</mat-label>
                <input matInput formControlName="sectorImage">
              </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput rows="8" formControlName="description" required></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>What to Expect</mat-label>
            <textarea matInput rows="8" formControlName="whatToExpect" required></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="full-width smallerhead"  appearance="outline">
            <mat-select placeholder="Select Community" formControlName="comm" required>
              <mat-option *ngFor="let comm of communities" [value]="comm">
                {{ comm?.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--
          <div class="col-md-4">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Sector Lead</mat-label>
          <input type="text" placeholder="Sector Lead" aria-label="Community" matInput [matAutocomplete]="auto2" formControlName="searchStringSectorLead" (keyup)="searchUser($event)">
          <mat-hint align="start"><strong>Start Typing a user's name and select from the options</strong> </mat-hint>
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let option of userSearch" [value]="option.firstName + ' '+option.lastname" (click) = "getSectorLead(option)">
              {{ option.firstName }} {{option.lastname}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        </div>
        -->
        
      </div>
      <br>
      <button class="mr-3" type="button" mat-raised-button (click)="onNoClick(false)">Cancel</button>
      <button mat-raised-button type="submit" class="cwb-primary-button">Create Super-sector</button>
    </form>
  </div>
  